div.item{
    width: 280px;
    margin-top:90px;
    margin-left: auto; 
    margin-right: auto;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.caption {
    display: block;
    text-align: center;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

center.title{
    margin-top: 100px;
}
button.button{
  align-items: center;
  text-align: center;
}

.add-fav {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: -webkit-linear-gradient(top, #fff, #ddd) #ddd;
  position: relative;
  transition: all 0.5s ease;
  border-radius: 3px;
  box-shadow: inset 0 -1px 1px #eee;
}
.add-fav:hover {
  background: -webkit-linear-gradient(top, #fff, #ccc) #ddd;
}
.add-fav .icon-heart {
  font-size: 24px;
  color: #666;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.add-fav .icon-plus-sign {
  font-size: 10px;
  color: #333;
  background: #fff;
  border-radius: 100%;
  position: absolute;
  bottom: 2px;
  right: 2px;
  height: 11px;
  width: 11px;
  line-height: 11px;
  text-align: center;
  transition: all 1s ease-in-out;
}
.add-fav input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.add-fav input[type=checkbox]:checked + .icon-heart {
  color: orange;
}
.add-fav input[type=checkbox]:checked + .icon-heart .icon-plus-sign {
  display: none;
}